<div ng-controller="SkillController" class="page">

    <div ng-include="'app/views/partials/header.html'"></div>

    <h1>{{title}}</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lorem urna, consequat nec dignissim vel,
        vehicula eu ligula. Fusce scelerisque felis quis posuere posuere. Integer congue leo lorem, ac adipiscing purus
        iaculis in. Maecenas euismod sapien ipsum, vel interdum mi dignissim id. Sed mauris velit, congue id ullamcorper
        eu, elementum vitae quam. Suspendisse vestibulum scelerisque vestibulum. Aliquam id justo non turpis lobortis
        pellentesque. Integer vehicula laoreet hendrerit.

        Morbi ante felis, scelerisque a metus eget, egestas eleifend turpis. Vestibulum erat nulla, sagittis sed lectus
        a, scelerisque consectetur orci. Aliquam fermentum vestibulum quam, id fringilla augue sollicitudin ut. Etiam
        facilisis tempor orci in faucibus. Integer dui est, egestas mollis dapibus eget, vehicula et sem. Nullam
        fermentum venenatis malesuada. Phasellus dapibus fermentum lectus consequat convallis. Sed et mauris nec dolor
        vulputate dignissim ac vitae magna. Phasellus eu rutrum eros, eget mollis mauris. Sed velit sapien, faucibus nec
        pretium nec, dapibus ut lorem. In dictum metus a ipsum dictum vehicula. Morbi non suscipit erat. Aliquam nec
        massa ultrices, aliquet odio vitae, facilisis sapien. Donec at posuere nisl.

        Nunc tempus odio vel nulla mattis porta. Quisque et faucibus ante. Aenean consequat leo quam, vel adipiscing
        metus convallis in. Ut porta, dolor nec porttitor pretium, erat massa varius eros, sed commodo lorem neque ut
        neque. Phasellus quis pretium leo, nec euismod ante. Fusce quis facilisis dui. Praesent consequat ut arcu sed
        malesuada. In non augue laoreet ante aliquam congue.

        Aenean vel lectus eleifend, aliquet magna quis, commodo tortor. Vivamus ultricies sem ut diam ornare, a auctor
        ante varius. Curabitur hendrerit nisl posuere erat dapibus sollicitudin. Proin ut enim bibendum, volutpat massa
        non, porttitor nulla. Nam congue est ac massa sollicitudin egestas. Curabitur in fermentum ligula. In hac
        habitasse platea dictumst. Proin eu tristique sapien.

        Maecenas interdum lacus eget erat euismod, eu vestibulum nisi pulvinar. Fusce tempus turpis nec velit posuere
        sollicitudin. Quisque consectetur nibh id vulputate posuere. Integer sagittis mauris dui, sit amet tincidunt
        odio lobortis vel. Proin aliquet arcu id posuere venenatis. Praesent convallis tortor sed lorem facilisis, non
        luctus neque auctor. Sed at tristique metus, non tempus est. Donec auctor ullamcorper luctus. Praesent bibendum
        lacus ut velit pulvinar iaculis. Praesent tempor magna nunc, non blandit arcu aliquet a. Donec adipiscing turpis
        ultrices metus mollis consequat. Duis vel nunc ut leo congue bibendum.
    </p>

</div>